<div class="section white no-pad-top">
    <div class="section light-green darken-1 no-pad-bot z-depth-1 start-splash-section">
        <div class="container start-splash-container section-header">
            <div class="row">
                <div class="col s12">
                    <h4>Dashboard</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
                Teste teste
        </div>
    </div>
</div>
