<div class="row">
    <div class="col-xs-12">
        <ng-map id="dashboardMap" center="current">
            <marker ng-repeat="point in vm.users" position="{{point}}"></marker>
        </ng-map>
    </div>
</div>

<md-card md-theme-watch ng-repeat="announcement in vm.announcements">
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img ng-src="{{announcement.user.photoURL}}" class="md-card-image" alt="{{announcement.user.name}}">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-subhead"><strong>{{announcement.user.name}}</strong> {{vm.getAnnouncementMessage(announcement.type)}} {{announcement.title}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button><md-icon class="material-icons">share</md-icon>Indicar</md-button>
        <md-button ui-sref="modules.announcements.show"><md-icon class="material-icons">check</md-icon>Participar</md-button>
    </md-card-actions>
</md-card>
