<md-card>
    <md-card-content>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="md-card-avatar-profile md-card-avatar" ng-src="{{vm.user.photoURL}}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="#">Editar imagem</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>{{vm.user.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <md-input-container class="md-icon-float md-block">
                    <label>Nome</label>
                    <input type="text" ng-model="vm.user.name" required/>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <md-input-container class="md-icon-float md-block">
                    <label>Endereço</label>
                    <input type="text" ng-model="vm.user.address" required/>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <ng-map  center="{{vm.myPosition}}" id="editProfile">
                    <marker draggable="true" id="pointer" position="{{vm.myPosition}}"></marker>
                </ng-map>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div layout="row" layout-align="center center">
                    <md-button flex="100" ng-click="vm.save()" type="submit" class="md-raised md-primary save-user-edit-button">
                        Salvar
                    </md-button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>