.md-card-avatar-profile {
    width: 150px;
    height: 150px;
}

.side-bar-user-profile {
    font-size: 14px;
}

.side-bar-user-profile img {
    border-radius: 100%;
}

.save-user-edit-button{
    margin-top: 20px;
}