<md-card>
    <md-card-content>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="md-card-avatar-profile md-card-avatar" src="https://yt3.ggpht.com/-oSAbz46-1qw/AAAAAAAAAAI/AAAAAAAAAAA/UzFF1NAQRSo/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="#">Editar imagem</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>peppa@peppa.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <md-input-container class="md-icon-float md-block">
                    <label>Nome</label>
                    <input type="text" ng-model="vm.user_data.name" required/>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <md-input-container class="md-icon-float md-block">
                    <label>Endereço</label>
                    <input type="text" ng-model="vm.user_data.address" required/>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ng-map center="{{vm.user_data.address}}">
                    <custom-marker id="start"
                                   position="{{vm.user_data.address}}">
                    </custom-marker>
                </ng-map>
            </div>
        </div>
    </md-card-content>
</md-card>