<div layout="column" class="relative" layout-fill role="main">
    <ui-view name="sidenav"></ui-view>

    <div layout="column" class="relative" layout-fill>
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ui-sref="modules.announcements.new">
            <md-icon><i class="material-icons">add</i></md-icon>
        </md-button>
        <md-toolbar class="md-whiteframe-3dp">
            <div class="md-toolbar-tools">
                <md-button ng-click="vm.toggleSidenav('left')" aria-label="Menu">
                    <md-icon><i class="material-icons">menu</i></md-icon>
                </md-button>
                <h3>
                    Pague Comigo
                </h3>
            </div>
        </md-toolbar>
        <md-content flex md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>


            </ui-view>
        </md-content>
    </div>

</div>