
<md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="modules.announcements.show.details" name="page1">
        Detalhes
    </md-nav-item>
    <md-nav-item md-nav-sref="modules.announcements.show.users" name="page2">
        Usuários
    </md-nav-item>
    <md-nav-item md-nav-sref="modules.announcements.show.chat" name="page3">
        Chat
    </md-nav-item>
    <md-nav-item md-nav-sref="modules.announcements.show.pagamento" name="page4">
        Pagamento
    </md-nav-item>

</md-nav-bar>
<div class="ext-content">
    <ui-view></ui-view>
</div>